[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
djangorestframework = "*"
pillow = "*"
django-rest-auth = "*"
django-rest-passwordreset = "*"
django-allauth = "*"
django-cors-headers = "*"
django = "==3.2"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.9"
